<!-- About Section -->
    <section class="about" id="about" style="background-color:#98C1D9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="Section-Divider-98C1D9">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
        </div>
    </section>