<!-- About Section -->
    <section class="about" id="about" style="background-color:#98C1D9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="Section-Divider-98C1D9">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p></p>
                </div>
                <div class="col-lg-4">
                    <p></p>
                </div>
            </div>
            <p class="aboutContent">
                My name is Chris and I'm a final year Computer Games Programming student at Teesside University. <br />
                <br />
                I'm currently looking for work in the Games Industry with a particular interest in Gameplay Programming and Tools Programming. I have experience in a range of different programming languages (C#, C++, Obj C, SQL, HTML etc.), and a solid understanding of industry standard software such as Unity3D, Visual Studio and Git source control.<br />
                <br />
                I love learning new things and I'm always on the look-out for my next challenge.
            </p>
        </div>
    </section>