<!-- Portfolio Grid Section -->
<section id="portfolio" style="background-color:#E0FBFC;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="Section-Divider-E0FBFC">
            </div>
        </div>
        
        {% for post in site.categories.projects %}

        {% capture modulo %}{{ forloop.index0 | mod:3 }}{% endcapture %}

        {% if modulo == '0' or forloop.first %}
        <div class="DisplayRow">
            {% endif %}

            <div class="col-sm-4 portfolio-item">
                <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ site.baseurl }}/{{ post.img }}" class="img-responsive" alt="">
                </a>
            </div>

            {% if modulo == '2' or forloop.last %}
        </div>
        {% endif %}

        {% endfor %}
            </div>
</section>